In [ ]:
import pandas as pd
df = pd.read_csv('/Users/evelynhuang22/projects/salary_prediction/Salary_Data.csv')

In [ ]:
#remvoe rows where Salary is NaN
df = df[df[['Salary']].notna().all(axis=1)]

#remove rows where all six columns are NaN 
#df = df.drop([172, 260])

In [ ]:
#types of Gender
unique_gen = df['Gender'].unique()
print(unique_gen)

#types of Education Level
unique_edu = df['Education Level'].unique()
print(unique_edu)

#types of Job Title
unique_jobs = df['Job Title'].unique()
print(unique_jobs)

In [ ]:
#keys
#gender
gender_map = {
    'Male': 'GEN1',
    'Female': 'GEN2',
    'Other': 'GEN3'
}
df['Gender'] = df['Gender'].map(gender_map)

In [ ]:
final_gen = df['Gender'].unique()
print(final_gen)

In [ ]:
#keys
#Education level
#["Bachelor's" "Master's" 'PhD' "Bachelor's Degree" "Master's Degree" nan'High School' 'phD']

df['Education Level'] = df['Education Level'].str.lower()

edu_map = {         
    'high school': 'EDU01',
    "bachelor's": 'EDU02',
    "bachelor's degree": 'EDU02',
    "master's": 'EDU03',
    "master's degree": 'EDU03',
    'phd': 'EDU04',          
}
df['Education Level'] = df['Education Level'].map(edu_map)

In [ ]:
final_edu = df['Education Level'].unique()
print(final_edu)

In [ ]:
#keys
#job title
unique_jobs = df['Job Title'].dropna().unique()
job_map = {job: f'JOB{str(i+1).zfill(3)}' for i, job in enumerate(unique_jobs)}
df['Job Title'] = df['Job Title'].map(job_map)