In [146]:
import pandas as pd
df = pd.read_csv('/Users/evelynhuang22/projects/salary_prediction/Salary_Data.csv')

In [148]:
#remvoe rows where Salary is null
df = df[df[['Salary']].notna().all(axis=1)]

In [150]:
#types of Gender
unique_gen = df['Gender'].unique()
print(unique_gen)

#types of Education Level
unique_edu = df['Education Level'].unique()
print(unique_edu)

#types of Job Title
unique_jobs = df['Job Title'].unique()
print(unique_jobs)

['Male' 'Female' 'Other']
["Bachelor's" "Master's" 'PhD' "Bachelor's Degree" "Master's Degree" nan
 'High School' 'phD']
['Software Engineer' 'Data Analyst' 'Senior Manager' 'Sales Associate'
 'Director' 'Marketing Analyst' 'Product Manager' 'Sales Manager'
 'Marketing Coordinator' 'Senior Scientist' 'Software Developer'
 'HR Manager' 'Financial Analyst' 'Project Manager' 'Customer Service Rep'
 'Operations Manager' 'Marketing Manager' 'Senior Engineer'
 'Data Entry Clerk' 'Sales Director' 'Business Analyst' 'VP of Operations'
 'IT Support' 'Recruiter' 'Financial Manager' 'Social Media Specialist'
 'Software Manager' 'Junior Developer' 'Senior Consultant'
 'Product Designer' 'CEO' 'Accountant' 'Data Scientist'
 'Marketing Specialist' 'Technical Writer' 'HR Generalist'
 'Project Engineer' 'Customer Success Rep' 'Sales Executive' 'UX Designer'
 'Operations Director' 'Network Engineer' 'Administrative Assistant'
 'Strategy Consultant' 'Copywriter' 'Account Manager'
 'Director of Marketing' 'Help Desk Analyst' 'Customer Service Manager'
 'Business Intelligence Analyst' 'Event Coordinator' 'VP of Finance'
 'Graphic Designer' 'UX Researcher' 'Social Media Manager'
 'Director of Operations' 'Senior Data Scientist' 'Junior Accountant'
 'Digital Marketing Manager' 'IT Manager'
 'Customer Service Representative' 'Business Development Manager'
 'Senior Financial Analyst' 'Web Developer' 'Research Director'
 'Technical Support Specialist' 'Creative Director'
 'Senior Software Engineer' 'Human Resources Director'
 'Content Marketing Manager' 'Technical Recruiter' 'Sales Representative'
 'Chief Technology Officer' 'Junior Designer' 'Financial Advisor'
 'Junior Account Manager' 'Senior Project Manager' 'Principal Scientist'
 'Supply Chain Manager' 'Senior Marketing Manager' 'Training Specialist'
 'Research Scientist' 'Junior Software Developer'
 'Public Relations Manager' 'Operations Analyst'
 'Product Marketing Manager' 'Senior HR Manager' 'Junior Web Developer'
 'Senior Project Coordinator' 'Chief Data Officer'
 'Digital Content Producer' 'IT Support Specialist'
 'Senior Marketing Analyst' 'Customer Success Manager'
 'Senior Graphic Designer' 'Software Project Manager'
 'Supply Chain Analyst' 'Senior Business Analyst'
 'Junior Marketing Analyst' 'Office Manager' 'Principal Engineer'
 'Junior HR Generalist' 'Senior Product Manager'
 'Junior Operations Analyst' 'Senior HR Generalist'
 'Sales Operations Manager' 'Senior Software Developer'
 'Junior Web Designer' 'Senior Training Specialist'
 'Senior Research Scientist' 'Junior Sales Representative'
 'Junior Marketing Manager' 'Junior Data Analyst'
 'Senior Product Marketing Manager' 'Junior Business Analyst'
 'Senior Sales Manager' 'Junior Marketing Specialist'
 'Junior Project Manager' 'Senior Accountant' 'Director of Sales'
 'Junior Recruiter' 'Senior Business Development Manager'
 'Senior Product Designer' 'Junior Customer Support Specialist'
 'Senior IT Support Specialist' 'Junior Financial Analyst'
 'Senior Operations Manager' 'Director of Human Resources'
 'Junior Software Engineer' 'Senior Sales Representative'
 'Director of Product Management' 'Junior Copywriter'
 'Senior Marketing Coordinator' 'Senior Human Resources Manager'
 'Junior Business Development Associate' 'Senior Account Manager'
 'Senior Researcher' 'Junior HR Coordinator' 'Director of Finance'
 'Junior Marketing Coordinator' 'Junior Data Scientist'
 'Senior Operations Analyst' 'Senior Human Resources Coordinator'
 'Senior UX Designer' 'Junior Product Manager'
 'Senior Marketing Specialist' 'Senior IT Project Manager'
 'Senior Quality Assurance Analyst' 'Director of Sales and Marketing'
 'Senior Account Executive' 'Director of Business Development'
 'Junior Social Media Manager' 'Senior Human Resources Specialist'
 'Senior Data Analyst' 'Director of Human Capital'
 'Junior Advertising Coordinator' 'Junior UX Designer'
 'Senior Marketing Director' 'Senior IT Consultant'
 'Senior Financial Advisor' 'Junior Business Operations Analyst'
 'Junior Social Media Specialist' 'Senior Product Development Manager'
 'Junior Operations Manager' 'Senior Software Architect'
 'Junior Research Scientist' 'Senior Financial Manager'
 'Senior HR Specialist' 'Senior Data Engineer'
 'Junior Operations Coordinator' 'Director of HR'
 'Senior Operations Coordinator' 'Junior Financial Advisor'
 'Director of Engineering' 'Software Engineer Manager'
 'Back end Developer' 'Senior Project Engineer' 'Full Stack Engineer'
 'Front end Developer' 'Developer' 'Front End Developer'
 'Director of Data Science' 'Human Resources Coordinator'
 'Junior Sales Associate' 'Human Resources Manager'
 'Juniour HR Generalist' 'Juniour HR Coordinator'
 'Digital Marketing Specialist' 'Receptionist' 'Marketing Director'
 'Social Media Man' 'Delivery Driver']

In [152]:
#keys
#gender
gender_map = {
    'Male': 'GEN1',
    'Female': 'GEN2',
    'Other': 'GEN3'
}
df['Gender'] = df['Gender'].map(gender_map)

In [154]:
final_gen = df['Gender'].unique()
print(final_gen)

['GEN1' 'GEN2' 'GEN3']

In [156]:
#keys
#Education level
#["Bachelor's" "Master's" 'PhD' "Bachelor's Degree" "Master's Degree" nan'High School' 'phD']

df['Education Level'] = df['Education Level'].str.lower()

edu_map = {         
    'high school': 'EDU01',
    "bachelor's": 'EDU02',
    "bachelor's degree": 'EDU02',
    "master's": 'EDU03',
    "master's degree": 'EDU03',
    'phd': 'EDU04',          
}
df['Education Level'] = df['Education Level'].map(edu_map)

In [158]:
final_edu = df['Education Level'].unique()
print(final_edu)

['EDU02' 'EDU03' 'EDU04' nan 'EDU01']

In [160]:
#keys
#job title
unique_jobs = df['Job Title'].dropna().unique()
job_map = {job: f'JOB{str(i+1).zfill(3)}' for i, job in enumerate(unique_jobs)}
df['Job Title'] = df['Job Title'].map(job_map)

In [162]:
final_job = df['Job Title'].unique()
print(final_job)

['JOB001' 'JOB002' 'JOB003' 'JOB004' 'JOB005' 'JOB006' 'JOB007' 'JOB008'
 'JOB009' 'JOB010' 'JOB011' 'JOB012' 'JOB013' 'JOB014' 'JOB015' 'JOB016'
 'JOB017' 'JOB018' 'JOB019' 'JOB020' 'JOB021' 'JOB022' 'JOB023' 'JOB024'
 'JOB025' 'JOB026' 'JOB027' 'JOB028' 'JOB029' 'JOB030' 'JOB031' 'JOB032'
 'JOB033' 'JOB034' 'JOB035' 'JOB036' 'JOB037' 'JOB038' 'JOB039' 'JOB040'
 'JOB041' 'JOB042' 'JOB043' 'JOB044' 'JOB045' 'JOB046' 'JOB047' 'JOB048'
 'JOB049' 'JOB050' 'JOB051' 'JOB052' 'JOB053' 'JOB054' 'JOB055' 'JOB056'
 'JOB057' 'JOB058' 'JOB059' 'JOB060' 'JOB061' 'JOB062' 'JOB063' 'JOB064'
 'JOB065' 'JOB066' 'JOB067' 'JOB068' 'JOB069' 'JOB070' 'JOB071' 'JOB072'
 'JOB073' 'JOB074' 'JOB075' 'JOB076' 'JOB077' 'JOB078' 'JOB079' 'JOB080'
 'JOB081' 'JOB082' 'JOB083' 'JOB084' 'JOB085' 'JOB086' 'JOB087' 'JOB088'
 'JOB089' 'JOB090' 'JOB091' 'JOB092' 'JOB093' 'JOB094' 'JOB095' 'JOB096'
 'JOB097' 'JOB098' 'JOB099' 'JOB100' 'JOB101' 'JOB102' 'JOB103' 'JOB104'
 'JOB105' 'JOB106' 'JOB107' 'JOB108' 'JOB109' 'JOB110' 'JOB111' 'JOB112'
 'JOB113' 'JOB114' 'JOB115' 'JOB116' 'JOB117' 'JOB118' 'JOB119' 'JOB120'
 'JOB121' 'JOB122' 'JOB123' 'JOB124' 'JOB125' 'JOB126' 'JOB127' 'JOB128'
 'JOB129' 'JOB130' 'JOB131' 'JOB132' 'JOB133' 'JOB134' 'JOB135' 'JOB136'
 'JOB137' 'JOB138' 'JOB139' 'JOB140' 'JOB141' 'JOB142' 'JOB143' 'JOB144'
 'JOB145' 'JOB146' 'JOB147' 'JOB148' 'JOB149' 'JOB150' 'JOB151' 'JOB152'
 'JOB153' 'JOB154' 'JOB155' 'JOB156' 'JOB157' 'JOB158' 'JOB159' 'JOB160'
 'JOB161' 'JOB162' 'JOB163' 'JOB164' 'JOB165' 'JOB166' 'JOB167' 'JOB168'
 'JOB169' 'JOB170' 'JOB171' 'JOB172' 'JOB173' 'JOB174' 'JOB175' 'JOB176'
 'JOB177' 'JOB178' 'JOB179' 'JOB180' 'JOB181' 'JOB182' 'JOB183' 'JOB184'
 'JOB185' 'JOB186' 'JOB187' 'JOB188' 'JOB189' 'JOB190' 'JOB191' 'JOB192']

In [3]:
import pyodbc

#conn_str = (
    #'DRIVER={ODBC Driver 17 for SQL Server};'
    #'SERVER=evelynhuang22;'
    #'DATABASE=salary_prediction;'
    #'UID=evelynhuang22;'
    #'PWD=Shitthings22')


import pyodbc

conn_str = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=salary_prediction;UID=evelynhuang22;PWD=Shitthings22'
try:
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Connection established!")
except Exception as e:
    print(f"Error: {e}")

Error: ('28000', "[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user 'evelynhuang22'. (18456) (SQLDriverConnect)")

In [9]:

import pyodbc

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=localhost;'
    'DATABASE=master;'  
    'UID=SA;'
    'PWD=MyStrongPass123;'
)

cursor = conn.cursor()
cursor.execute("SELECT @@VERSION;")
row = cursor.fetchone()
print(row)

('Microsoft Azure SQL Edge Developer (RTM) - 16.0.5100.7245 (X64) \n\tJun 13 2023 12:34:33 \n\tCopyright (C) 2022 Microsoft Corporation\n\tLinux (Ubuntu 20.04.6 LTS) <X64>',)

In [11]:
cursor.execute("CREATE DATABASE salary_prediction;")
conn.commit()
print("DB created")

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]CREATE DATABASE statement not allowed within multi-statement transaction. (226) (SQLExecDirectW)')

In [ ]:

cursor.execute("USE salary_prediction;")

In [13]:
import pyodbc

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=localhost;'
    'DATABASE=master;'  
    'UID=SA;'
    'PWD=MyStrongPass123;',
    autocommit=True  
)

cursor = conn.cursor()
cursor.execute("CREATE DATABASE salary_prediction;")
print("DB created ðŸ¥¹ðŸ“¦")

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Could not obtain exclusive lock on database 'model'. Retry the operation later. (1807) (SQLExecDirectW)")